* {
  transition: all 0.1s;
}

.App {
  display: flex;
  height: 100vh;
  background-color: #333;
}

aside {
  width: 250px;
  overflow: auto;
  border-right: 0.5px solid gray;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: antiquewhite;
  padding-inline: 1rem;
  margin-top: 1rem;
}

.main-link__container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
}

.main-link__container:hover {
  color: rgba(152, 3, 3, 0.7);
}

.link-left {
  display: flex;
  gap: 0.5rem;
}

.dropped-links {
  margin-left: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}
.chevron {
  cursor: pointer;
}
.chevron.active {
  transform: rotate(180deg);
  color: red;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  color: antiquewhite;
}
